/* Header */

	body.is-preload #header.alt > * {
		opacity: 1;
	}

	body.is-preload #header.alt .logo {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

/* Section */

	section.plain {
		margin: 0;
		padding: 0px;
		border: 0px;
	}

	.parent {
		display: grid;
		place-content: center;
		Height: 100vh;
	}

	.bcontainer{
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		width: 100%;
		margin-left: 0;
	}

	.center {
		text-align: center;
	}

	.button.block {
		display: block;
		width: 200px;    
	}
	
	.margin-auto {
		margin: 0 auto;
	}

	.flex {
		display: flex;
		justify-content: flex;
		align-items: center;
	}